div {
  border: 20px solid #000;
  min-width: 20em;
  min-height: 25em;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

#red {
  border-top-color: red;
}

#orange {
  border-top-color: orange;
}

#yellow {
  border-top-color: yellow;
}

#green {
  border-top-color: green;
}

#blue {
  border-top-color: blue;
}

#indigo {
  border-top-color: indigo;
}

#violet {
  border-top-color: violet;
}